<h3 class="category__title text-capitalize text-center" (click)="toggle()">
  {{category.title}}
</h3>
<div *ngIf="category.items" class="category__count">
  <span>{{getItemsLength()}}</span>
</div>

<div class="category__content">
  <ul>
    <li appItem
      *ngFor="let item of category.items | values | orderBy: ['timestamp']"
      [item]="item"
      (remove)="onRemoveItem(item)">
    </li>
  </ul>
  <p *ngIf="isEmpty()">Rien pour le moment</p>

  <form (ngSubmit)="submitItem()">
    <input
      [(ngModel)]="newItem.title"
      name="itemTitle"
      class="category__newItemInput"
      [placeholder]="category.placeholder"
      required
    >
    <input type="submit" class="caregory__newItemSubmit btn btn-primary">
  </form>
</div>