<h3 class="category__title text-capitalize text-center" (click)="toggle()">
  {{category.title}}
</h3>
<div *ngIf="category.items" class="category__count">
  <span>{{getItemsLength()}}</span>
</div>

<div class="category__content">
  <ul>
    <li appItem
      *ngFor="let item of category.items | values | orderBy: ['timestamp']"
      [item]="item"
      (remove)="onRemoveItem(item)">
    </li>
  </ul>

  <form [hidden]="!userIsIdentified" (ngSubmit)="submitItem()">
    <input
      [(ngModel)]="newItem.title"
      name="itemTitle"
      #newItemInput
      class="category__newItemInput"
    >
    <input type="submit" class="caregory__newItemSubmit btn btn-primary">
  </form>

  <form *ngIf="!userIsIdentified" (ngSubmit)="identifyUser()">
    <input
      type="submit"
      value="Ajouter quelque chose"
      class="btn btn-primary btn-block"
    >
  </form>

</div>